/* Тут CSS код для основного окна */

.add-button {
    -fx-background-color: #7902D3;
    -fx-background-radius: 25;
    -fx-text-fill: white;
}

.menu{
    -fx-background-color: #2F2F2F;
}

.container{

    -fx-background-radius: 25;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 20, 0.5, 0, 0);
}

.text-h1{
  -fx-fill: #2f2f2f;
}

.main-background{
    -fx-background-color: #F2F2F2;
}

.note-body{
    -fx-background-radius: 25;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 20, 0.5, 0, 0);
}

.note-title{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-fill: #2F2F2F;
}

.delete-button{
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-color: #FF4D4D;
    -fx-background-radius: 10;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.update-button{
    -fx-pref-width: 215;
    -fx-pref-height: 50;
    -fx-background-color: #02D3BB;
    -fx-background-radius: 10;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.favourite-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 20px;
}

.title-bar {
    -fx-background-color: #2b2b2b;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-min-height: 40;
}

.title-text {
    -fx-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 0 10;
}

.title-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-min-width: 40;
    -fx-min-height: 30;
}

.title-button:hover {
    -fx-background-color: rgba(255,255,255,0.1);
}

#closeButton:hover {
    -fx-background-color: #e81123;
}

#searchBar{
     -fx-border-width: 0 0 1 0;
     -fx-border-color: #E3E3E3;
     -fx-background-color: #FFFFFF;
}

#notesContainer{
    -fx-padding: 50;
}
