/* Тут CSS код для окна настроек*/

#darkTheme{
    -fx-background-color: #fff;
    -fx-text-fill: #444;
}

.text-color{
    -fx-fill: #FFFFFF;
}

.settings-container{
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 20, 0.2, 0, 0);
}

.settings-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
}

.settings-button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.close-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgba(77,77,77,1);
    -fx-font-family: "Arial";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.close-button:hover {
    -fx-background-color: #FF4D4D;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}
